@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai&display=swap");

:root {
  --main-color: #77b7d7;
  --deep-color: #369;
  --block-color: #eeeeee;
}

* {
  font-family: "Noto Sans Thai", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.1s linear;
  line-height: 1.5;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  background-color: #f7f7f7;
}

body {
  background-color: #f7f7f7;
}

.body-main {
  background-color: #f7f7f7 !important;
  padding-left: 30rem;
}

section {
  padding: 1rem 5%;
}

.body-component {
  min-height: 100vh;
  padding: 0 40px;
}

.material-symbols-outlined {
  color: #111;
  position: fixed;
  left: 0;
  margin-left: 3rem;
  font-size: 3rem;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.answer {
  display: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background: var(--main-color);
  display: flex;
  align-items: center;
  z-index: 10;
  flex-flow: column;
  padding: 2rem 2rem;
  width: 30rem;
  text-align: center;
}

header .logo {
  font-size: 3rem;
  color: white;
  font-weight: bold;
}

header .logo span {
  color: #294858;
}

.username {
  display: block;
  font-size: 2em;
  color: #294858;
  margin-top: 1rem;
  margin-bottom: 4rem;
}

a:link {
  text-decoration: none;
}

header .navbar .image img {
  border-radius: 100%;
  width: 100%;
}

header .navbar {
  padding-top: 2rem;
}

header .navbar a {
  display: block;
  font-size: 2em;
  color: #fff;
  margin: 2rem 0;
}

.dropdown-item {
  color: #111 !important;
}

header .navbar a:hover {
  letter-spacing: 0.2rem;
  color: var(--main-color);
  background: rgb(205, 193, 193);
  border-radius: 8px;
  color: var(--deep-color);
}

header .follow .image img {
  width: 45%;
  margin-bottom: 2rem;
}

header .follow {
  display: flex;
  flex-flow: row;
  gap: 2em;
  padding-bottom: 1rem;
}

header .follow a {
  font-size: 3em;
  color: white;
}

header .follow a:hover {
  color: var(--main-color);
}

.heading {
  font-size: 4rem;
  padding-bottom: 1rem;
  color: #111;
  text-transform: uppercase;
}

.heading span {
  color: var(--main-color);
  text-transform: uppercase;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.8rem 3rem;
  background: var(--main-color);
  color: #fff;
  cursor: pointer;
  font-size: 1.7rem;
}

.btn:hover {
  background: #111;
  letter-spacing: 0.2rem;
}

#menu-bars {
  position: fixed;
  top: 0.5em;
  right: 0.5em;
  z-index: 10000;
  background: var(--main-color);
  color: #fff;
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
  font-size: 3rem;
  cursor: pointer;
  display: none;
}

/* home */

/* ส่วนบนของเว็บ */
.project-name {
  display: flex;
  margin-top: 2rem;
  margin-left: 50px;
  margin-right: 50px;
  color: rgb(105, 105, 111);
}

.project-name h1 {
  font-size: 3.5rem;
  border-right: 2rem solid;
  border-width: 2px;
}

.head-time {
  display: flex;
  margin-left: 3rem;
  background-color: #c5d3db;
  border-radius: 20px;
  color: #369;
}

.project-name h4 {
  margin-top: 1rem;
  margin-left: 3rem;
  font-size: 1.5rem;
}

/* ส่วนของselect display box */
#select-display {
  display: flex;
}

.display-checkbox-block {
  padding-top: 12px;
}

.btn-display-home {
  background: #5bc0f8;
  padding: 5px 10px;
  border-radius: 9px;
  margin: 10px 0 0 25px;
  font-size: 1.3rem;
  color: rgb(44, 44, 242);
  font-weight: 500;
}

.btn-display {
  background: #5bc0f8;
  padding: 5px 10px;
  border-radius: 9px;
  margin: 10px 0 0 25px;
  font-size: 1.3rem;
  color: rgb(44, 44, 242);
  font-weight: 500;
  margin: auto;
}

.btn-display:hover {
  background: #89d0f4;
}

.edit-component {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.return-btn {
  display: flex;
  margin: auto;
  font-size: 2.5rem;
  background-color: #d5e4ec;
  border-radius: 9px;
  padding: 10px;
}

.return-btn a {
  color: #11468f;
}

.display-block {
  border: 2px solid;
  border-radius: 8px;
  margin: 2rem 0;
  background-color: var(--block-color);
}

.display-checkbox {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  margin: 5px;
}

input {
  accent-color: var(--main-color);
}

.checkbox {
  margin-left: 2rem;
  margin-bottom: 1rem;
}

.checkbox-actuator {
  margin-bottom: 1.92rem;
}

/* ส่วนของ sensor & actuator display */
#display {
  margin-top: 3rem;
}

.sensor-display {
  border-bottom: 2px solid;
}

.sensor-display h1 {
  margin-top: 0.5rem;
  padding-right: 11rem;
  font-size: 2rem;
}

.sensor-display p {
  font-size: 1.5rem;
  text-transform: none;
}

.actuator-display {
  border: 2px solid;
  border-radius: 8px;
  margin-bottom: 2rem;
  margin-left: 3rem;
  background-color: var(--block-color);
}

.actuator-display h1 {
  padding-top: 1.5rem;
  padding-right: 11rem;
  font-size: 2rem;
}

.actuator-display p {
  font-size: 1.5rem;
}

.actuator-display-status {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.actuator-display-status img {
  width: 3rem;
  margin-left: 2rem;
  margin-bottom: 1.5rem;
}

/* ซ่อน display  */
.hidden {
  display: none;
}

/* #tempt-display {display: none;}
#moist-display {display: none;}
#lux-display {display: none;}
#ultrasonic-display {display: none;}
#level-display {display: none;}
#ph-display {display: none;}

#servo-display {display: none;}
#dc-motor-display {display: none;}
#rgb-display {display: none;}
#solenoid-display {display: none;}
#buzzer-display {display: none;} */

/* #temp-servo-display { display:none } */
.ph-text {
  text-transform: none;
}

#edit-temp-servo-display {
  position: relative;
}

.edit-value {
  padding: 0 30px;
}

.head-edit {
  display: flex;
  justify-content: center;
}
.head-edit h1 {
  display: inline-block;
  border: 2px solid rgb(105, 105, 111);
  border-radius: 9px;
  padding: 5px;
  background-color: rgb(187, 179, 179);
  margin: 0;
  margin-left: 2rem;
  position: absolute;
  top: -3px;
}

.edit-block {
  width: 1100px;
}

/* หน้าเซนเซอร์ */
#sensors {
  font-size: 1rem;
}

#sensors h1 {
  font-size: 2rem;
}

.sensor-command {
  border: 2px solid;
  margin-top: 10px;
  text-align: center;
}

.space-box {
  margin-left: 200px;
  margin-right: 200px;
}

.value-text {
  display: inline-block;
  margin-top: 40px;
  padding: 5px 15px;
  border: 1px solid;
  border-radius: 8px;
  background-color: #c5d3db;
  color: var(--deep-color);
  font-size: 3rem;
  font-weight: 650;
}

.value-text-status {
  display: inline-block;
  margin: 10px;
  padding: 5px 15px;
  border: 1px solid;
  border-radius: 8px;
  background-color: #c5d3db;
  color: var(--deep-color);
  font-size: 3rem;
  font-weight: 650;
}

/* hide and show animation */
.is-show {
  opacity: 1;
  /* max-height: 500px; */
  transition: all 0.5s ease-in-out;
  visibility: visible;
}

.is-hidden {
  opacity: 0;
  max-height: 0;
  transition: all 0.5s ease-in-out;
  /* ทำให้ไม่บังelementอื่นๆ ตอนhide */
  visibility: hidden;
}

/* แถบอุณหภูมิ */

@keyframes progress {
  0% {
    --percentage: 0;
  }
  100% {
    --percentage: var(--value);
  }
}

@property --percentage {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}

[role="progressbar"] {
  --percentage: var(--value);
  --primary: var(--deep-color);
  --secondary: #adf;
  --size: 200px;
  animation: progress 2s 0.5s forwards;
  width: var(--size);
  aspect-ratio: 2 / 1;
  border-radius: 50% / 100% 100% 0 0;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-left: 80px;
  margin-bottom: 10px;
}

[role="progressbar"]::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: conic-gradient(from 0.75turn at 50% 100%, var(--primary) calc(var(--percentage) * 1% / 2), var(--secondary) calc(var(--percentage) * 1% / 2 + 0.1%));
  mask: radial-gradient(at 50% 100%, white 55%, transparent 55.5%);
  mask-mode: alpha;
  -webkit-mask: radial-gradient(at 50% 100%, #0000 55%, #000 55.5%);
  -webkit-mask-mode: alpha;
}

[role="progressbar"]::after {
  counter-reset: percentage var(--value);
  /* content: counter(percentage) "°C"; */
  font-family: Helvetica, Arial, sans-serif;
  font-size: calc(var(--size) / 5);
  color: var(--primary);
}

/* demo */
/* body {
    margin: 0;
    display: grid;
    place-items: center;
    background: #f0f8ff;
  } */

/* Actuatorของอุณหภูมิ */
#tempt-sensor {
  margin-bottom: 10px !important;
}

.head-block {
  display: inline-block;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0px 5px;
  font-size: 2.7rem;
  font-weight: 600;
  color: var(--deep-color);
}

.actuator-head-command {
  font-size: 1.7rem;
  font-weight: 500;
  color: rgb(243, 88, 32);
  padding: 1rem;
}

select {
  border-radius: 8px;
  background-color: #ccc;
  color: #11468f;
  width: 100%;
}

.command-actuator {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.command-actuator h1 {
  margin-bottom: 15px;
}

.command-actuator input {
  border: 1px solid #dedede;
  border-radius: 2px;
}

.form-command-head-value {
  font-size: 2.7rem;
  padding-bottom: 5px;
  color: #ea2744;
}

.form-account-head-value {
  font-size: 2.7rem;
  color: #11468f;
}

.account-warn-imgsize {
  font-size: 1.3rem;
  padding-bottom: 5px;
  color: #ea2744;
}

.form-value {
  margin-bottom: 25px;
  margin-right: 25px;
  padding: 5px 10px;
  font-size: 1.5rem;
}

.form-submit {
  font-size: 1.3rem;
  font-weight: bold;
  padding: 10px 15px;
  border: 1px solid #dedede;
  border-radius: 8px;
  background-color: #36dd73;
}
.form-submit:focus {
  outline: none;
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px green;
}

.main-block {
  padding: 0px 60px;
}

/* หน้าแสดงรายการ */
#manual {
  font-size: 2rem;
}

.space-box-list {
  margin: 0px 420px;
}

.list-display {
  display: flex;
  justify-content: center;
}

.list-display img {
  width: 1.5rem;
  height: 1.5rem;
}

.list-display-text {
  margin: 13px 10px 20px;
  background-color: rgba(174, 171, 171, 0.5);
  padding: 5px;
  border: 0.5px solid rgb(105, 105, 111);
  border-radius: 3px;
  font-size: 1.3rem;
}

.list-display-text-timer {
  margin: 13px 10px 20px;
  padding: 5px;
  border: 0.5px solid rgb(105, 105, 111);
  border-radius: 3px;
  font-size: 1.3rem;
}

.starting {
  background-color: #adf;
}

.ending {
  background-color: rgb(253, 159, 156);
}

.img-status {
  margin-top: 17.5px;
}

.edit-btn {
  border-radius: 8px;
  background-color: #36dd73;
  color: #000;
}

.edit-btn:hover {
  background-color: #45ef83;
  color: #000;
}

.delete-btn {
  border-radius: 8px;
  background-color: rgb(255, 67, 67);
  color: #000;
  text-decoration: none;
}
.delete-btn:hover {
  background-color: rgb(255, 94, 94);
  color: #000;
}

.actuator-name {
  background-color: var(--main-color);
}

.condition-action {
  background-color: rgb(240, 163, 20);
}

.value-command {
  padding-top: 7px;
  font-size: 2.5rem;
  color: #11468f;
}

.status-command-display {
  background-color: #ffe7cc;
}

.head-title {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  margin: 2rem;
}

.actuator-display-img-status {
  display: inline;
}

#camera {
  text-align: center;
}

.camera-head {
  font-size: 2rem;
}

.camera-frame {
  width: 640px;
  height: 480px;
  margin-bottom: 2rem;
}

.ph {
  display: none;
}

option {
  color: #11468f !important;
}

.input-img {
  font-size: 1.5rem;
  color: #11468f;
  margin: 10px;
}

/*responsive*/
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .body-main {
    padding: 0;
  }

  #menu-bars {
    display: initial;
  }

  header {
    left: -120%;
  }

  header.active {
    left: 0%;
  }

  .cursor-1,
  .cursor-2 {
    display: none;
  }

  .material-symbols-outlined {
    left: -120%;
  }

  [role="progressbar"] {
    margin-left: 0px;
  }

  .edit-block {
    width: 600px;
  }

  .camera-frame {
    width: 440px;
    height: 280px;
  }
}

@media (max-width: 770px) {
  .value-text {
    margin-left: 85px;
  }

  .home-actuator {
    margin-top: 10px;
  }

  .list-display-text {
    margin: 13px 5px 20px;
    padding: 5px;
    border-radius: 3px;
    font-size: 1rem;
  }
  
}

@media (max-width: 532px) {
  .value-text {
    margin-left: 0px;
  }

  html {
    font-size: 50%;
  }

  header {
    width: 100%;
  }

  .experience .box-container .box {
    padding-right: 0;
  }

  .edit-block {
    width: 300px;
  }

  .camera-frame {
    width: 280px;
    height: 180px;
  }

  [role="progressbar"] {
    --size: 100px;
    margin-left: 0px;
    margin-bottom: 10px;
  }

  .home-actuator {
    margin-top: 10px;
  }

  .value-text {
    display: inline-block;
    margin-top: 10px;
    margin-left: 15px;
    padding: 5px 10px;
    border: 1px solid;
    border-radius: 8px;
    background-color: #c5d3db;
    color: var(--deep-color);
    font-size: 2rem;
    font-weight: 650;
  }

  .list-display {
    display: flex;
    justify-content: center;
  }

  .list-display-text {
    margin: 13px 5px 20px;
    padding: 5px;
    border-radius: 3px;
    font-size: 0.65rem;
  }

  .form-command-head-value {
    font-size: 1.4rem;
  }

  .form-value {
    margin-bottom: 25px;
    margin-right: 0px;
    padding: 5px 10px;
    font-size: 0.65rem;
  }

}
